 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');




 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Raleway', sans-serif;

 }


 /*Main container styling*/
 .main-container {
     display: flex;

     .sidenav {
         padding: 1em 1em;
         background-color: #040b14;
         width: 300px;
         height: 100vh;
         position: fixed;
         top: 0;
         left: 0;
         bottom: 0;
         /* transition: all ease-in-out 0.3s; */

         /* the figure contains the image and the image caption */
         figure {
             img {
                 height: 7em;
                 border: 10px solid rgba(116, 117, 123, 0.398);
                 ;
                 border-radius: 70px;
                 display: block;
                 margin: 0 auto;

             }

             figcaption {
                 font-weight: 700;
                 font-size: 1.3em;
                 text-align: center;
                 color: white;
                 margin: .5em 0;
             }
         }

         .socials-icon {
             display: flex;
             align-items: center;
             justify-content: center;
             gap: 1em;


             li {
                 list-style: none;
                 background-color: rgba(116, 117, 123, 0.398);
                 padding: .5em;
                 border-radius: 30px;
                 font-size: .9em;

                 a {
                     color: white;
                 }
             }
         }

         /* This section contains the nav buttons */
         nav {
             margin: 2em 0;
             margin-left: 1em;
             display: flex;
             flex-flow: column;
             gap: 2.4em;

             ul li {
                 list-style: none;
                 font-size: 1.2em;
                 font-weight: 350;

                 a {
                     text-decoration: none;
                     color: #A8A9B4;

                     i {
                         margin: 0 .5em;
                         color: #A8A9B4;
                     }

                 }

                 a:hover i {
                     color: rgb(56, 100, 202);
                 }
             }
         }
     }

     .content-container {

         height: 100vh;
         width: 100%;
         margin-left: 300px;

         .hero {
             background-image: url(images/volcano.jpg);
             display: flex;
             align-items: center;
             height: 100vh;

             .hero-text {
                 padding-left: 7em;


                 h2 {
                     font-size: 3em;
                     margin-bottom: .2em;

                 }

                 p {
                     font-size: 1.2em;
                     word-spacing: 10px;
                     letter-spacing: 5px;
                     border-bottom: 1px solid rgba(255, 255, 255, 0.501);
                     margin-bottom: 10px;

                     .red {
                         color: rgb(132, 13, 13);
                         font-style: italic;
                     }

                     .green {
                         color: rgb(3, 101, 9);
                         font-style: italic;
                     }

                     .blue {
                         color: rgb(7, 7, 101);
                         font-style: italic;
                     }
                 }
             }
         }

         .main {
             max-width: 98%;
             margin: 1em auto 0;
             padding: 3em .5em 0;



             .heading {
                 position: relative;

                 h2 {
                     font-size: 2.2em;

                 }

                 div {
                     margin-top: 1em;
                     position: absolute;
                     height: 3px;
                     background-color: #149DDD;
                     width: 50px;
                 }
             }

             .intro-text {

                 margin-bottom: 3em;

                 p {
                     margin-top: 2em;
                 }
             }



             section {
                 display: flex;
                 gap: 1em;

                 .img {
                     padding-top: .5em;

                     img {
                         height: 20em;
                     }
                 }

                 .details {
                     h3 {
                         font-size: 1.6em;
                         margin-bottom: 1em;
                     }

                     p {
                         font-style: italic;
                         margin-bottom: 1em;
                     }

                     .list {
                         display: flex;
                         gap: 3em;
                         padding-top: 1em;
                         padding-bottom: 2em;


                         ul {
                             line-height: 3em;
                         }

                         ul li {
                             list-style: none;
                             font-size: 1em;

                             i {
                                 color: rgb(121, 179, 255);
                                 font-weight: 500;
                                 font-size: 1em;
                             }
                         }

                     }
                 }
             }

             @media (min-width: 1500px) {
                 padding-top: 1em;
                 margin-top: 1em;
                 width: 1300px;
                 margin: 0 auto;
                 padding: 3em .5em 0;
             }


             .stats-row {

                 padding: 5em 0;
                 display: flex;
                 flex-flow: row;
                 justify-content: space-between;

                 .icon {
                     display: flex;
                     gap: 1em;


                     i {
                         font-size: 3em;
                         color: #149DDD;
                     }

                     .decr {
                         h1 {
                             color: #000;
                             font-family: arial;
                             font-weight: 700;
                             font-size: 3em;
                         }

                         p {
                             font-weight: bolder;
                             color: #1c1a1a8f;
                         }

                         small {
                             font-weight: lighter;
                             color: gray;
                         }
                     }
                 }
             }
         }
     }

     @media (max-width: 1200px) {
         .sidenav {
             display: none;
             width: 0;
             left: -300px;
         }

         .content-container {
             margin-left: 0;
             width: 100%;
         }
     }

 }


 .skills {
     width: 100%;
     margin: 1em auto 0;
     padding: 0 .5em 0em;
     background-color: #f4fafd;

     .main {


         .heading {
             position: relative;

             h2 {
                 font-size: 2.2em;

             }

             div {
                 margin-top: 1em;
                 position: absolute;
                 height: 3px;
                 background-color: #149DDD;
                 width: 50px;
             }
         }



         .myIntro {
             margin-top: 2em;
             padding-bottom: 3em;

             p {
                 font-family: arial;
             }
         }

         .stats {
             padding-bottom: 4em;
             display: flex;
             gap: 1.5em;

             .text-script-style {
                 display: flex;
                 flex-flow: column;
                 gap: 1.5em;
                 width: 50%;

                 .html {
                     span {
                         display: flex;
                         justify-content: space-between;

                         p {
                             font-size: 1em;
                             font-weight: 500;
                         }
                     }

                     .progress-bar {
                         height: 10px;
                         background-color: #149DDD;
                     }
                 }


                 .css {

                     span {
                         display: flex;
                         justify-content: space-between;

                         p {
                             font-size: 1em;
                             font-weight: 500;
                         }
                     }

                     .progress-bar {
                         height: 10px;
                         background-color: #27282933;


                         .progress {
                             background-color: #149DDD;
                             height: 10px;
                             width: 90%;
                         }
                     }
                 }

                 .js {

                     span {
                         display: flex;
                         justify-content: space-between;

                         p {
                             font-size: .9em;
                             font-weight: 500;
                         }
                     }

                     .progress-bar {
                         height: 10px;
                         background-color: #27282933;


                         .progress {
                             background-color: #149DDD;
                             height: 10px;
                             width: 75%;
                         }
                     }
                 }

                 .php {

                     span {
                         display: flex;
                         justify-content: space-between;

                         p {
                             font-size: .9em;
                             font-weight: 500;
                         }
                     }

                     .progress-bar {
                         height: 10px;
                         background-color: #27282933;


                         .progress {
                             background-color: #149DDD;
                             height: 10px;
                             width: 80%;
                         }
                     }
                 }

                 .wordpress {

                     span {
                         display: flex;
                         justify-content: space-between;

                         p {
                             font-size: .9em;
                             font-weight: 500;
                         }
                     }

                     .progress-bar {
                         height: 10px;
                         background-color: #27282933;


                         .progress {
                             background-color: #149DDD;
                             height: 10px;
                             width: 90%;
                         }
                     }
                 }

                 .c-draw {

                     span {
                         display: flex;
                         justify-content: space-between;

                         p {
                             font-size: .9em;
                             font-weight: 500;
                         }
                     }

                     .progress-bar {
                         height: 10px;
                         background-color: #27282933;


                         .progress {
                             background-color: #149DDD;
                             height: 10px;
                             width: 50%;
                         }
                     }
                 }
             }
         }
     }
 }



 .resume {

     padding-bottom: 5em;

     .main {


         .myIntro {
             margin-top: 3em;
         }


         .resume-info {



             div {
                 width: 100%;
             }

             display: flex;

             .summary {
                 padding-top: 1.5em;

                 h2 {
                     padding-left: .2em;
                     font-size: 1.6em;
                 }


                 .summary-container {

                     .summary-info {
                         position: relative;

                         .blue-circle {
                             position: absolute;
                             height: 15px;
                             border: 2px solid #149DDD;
                             width: 15px;
                             padding: .4em;
                             border-radius: 100%;
                             background-color: white;
                         }

                         .blue-line {
                             position: absolute;
                             background-color: #149DDD;
                             width: 2px;
                             height: 200px;
                             top: 15px;
                             left: 7px;
                         }


                         .newblue-line {
                             position: absolute;
                             background-color: #149DDD;
                             width: 2px;
                             height: 420px;
                             top: 15px;
                             left: 7px;
                         }

                         .blue-line2 {
                             position: absolute;
                             background-color: #149DDD;
                             width: 2px;
                             height: 320px;
                             top: 15px;
                             left: 7px;
                         }

                         .myinfo {
                             padding-left: 2em;

                             .myname {
                                 margin: 1em 0;
                             }


                             ul {
                                 padding: 2em 0 1em 1em;
                                 line-height: 1.6em;
                             }

                         }

                     }
                 }
             }
         }
     }
 }




 .Portfolio {
     background-color: #f4fafd;
     padding-bottom: 20em;

     .main {
         .myIntro {
             margin-top: 2em;
         }


         .portfolio-container {
             nav {
                 padding-top: 1.5em;
                 display: flex;
                 gap: 1em;
                 align-items: center;
                 justify-content: center;

                 ul li {
                     list-style: none;

                 }

                 ul li a {
                     text-decoration: none;
                     color: #000;
                     font-size: .9em;
                     font-weight: 450;
                     transition: color 0.3s ease;



                 }

                 ul li a:hover {
                     color: #149DDD;

                 }
             }
         }

         .portfolio-image-container {

             .image-container {
                 display: flex;
                 gap: 1em;
                 flex-wrap: wrap;

                 & .image-box:hover {
                     background-size: 110%;
                 }


                 & .image-box:hover .overlay {
                     opacity: 1;
                 }




                 .image-box {
                     border: 5px solid black;
                     position: relative;
                     background-repeat: no-repeat;
                     background-position: center;
                     background-size: 100% 100%;
                     height: 252px;
                     width: 336px;
                     overflow: hidden;
                     transition: background-size 0.3s ease;





                     & .overlay {
                         position: absolute;
                         top: 0;
                         left: 0;
                         width: 100%;
                         height: 100%;
                         transition: transform 0.4s ease, opacity 0.4s ease;
                         opacity: 0;
                         background-color: rgba(0, 0, 0, 0.7);



                         & ul {

                             display: flex;
                             flex-direction: column;
                             gap: 5em;


                             & .text {
                                 background-color: #149DDD;
                                 color: #fff;
                                 width: 6em;
                                 padding: .2em .2em;
                                 margin: .5em 0 0 .5em;
                                 transition: transform 0.4s ease, opacity 0.4s ease;

                             }

                             & .icon {
                                 display: flex;
                                 align-items: center;
                                 justify-content: center;
                                 gap: 1em;
                                 transition: transform 0.4s ease, opacity 0.4s ease;

                                 & i {
                                     font-size: 1.5em;
                                     color: white;
                                 }

                                 & i:hover {
                                     color: #149DDD;
                                 }

                             }

                             & .memo {
                                 color: White;
                                 font-weight: bold;
                                 padding-left: .2em;
                                 transition: transform 0.4s ease, opacity 0.4s ease;
                             }



                         }

                         & ul li {
                             list-style: none;

                         }




                     }
                 }

             }

         }
     }

 }


 /* 
 .image-box {
     position: relative;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-image: url(images/church.jpeg);
     height: 20em;
     width: 250px;
 }  */