 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');




 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Raleway', sans-serif;
     scroll-behavior: smooth;

 }


 /*Main container styling*/
 .main-container {
     display: flex;


     .sidenav {
         padding: 1em 1em;
         background-color: #040b14;
         width: 300px;
         height: 100vh;
         position: fixed;
         top: 0;
         left: 0;
         bottom: 0;



         figure {
             img {
                 height: 7em;
                 border: 10px solid rgba(116, 117, 123, 0.398);
                 ;
                 border-radius: 70px;
                 display: block;
                 margin: 0 auto;

             }

             figcaption {
                 font-weight: 700;
                 font-size: 1.3em;
                 text-align: center;
                 color: white;
                 margin: .5em 0;
             }
         }

         .socials-icon {
             display: flex;
             align-items: center;
             justify-content: center;
             gap: .5em;


             li {
                 list-style: none;
                 background-color: rgba(116, 117, 123, 0.398);
                 border-radius: 30px;




                 a {
                     color: white;
                     display: inline-block;
                     font-size: .9em;
                     padding: 1em;
                     border-radius: 30px;
                 }
             }

             li:hover,
             a:hover {
                 background-color: #149DDD;
                 color: white;
             }
         }

         /* This section contains the nav buttons */
         nav {
             margin: 2em 0;
             margin-left: 1em;
             display: flex;
             flex-flow: column;
             gap: 2.4em;

             ul li {
                 list-style: none;
                 font-size: 1.2em;
                 font-weight: 350;

                 a {
                     text-decoration: none;
                     color: #A8A9B4;

                     i {
                         margin: 0 .5em;
                         color: #A8A9B4;
                     }

                 }

                 a:hover i {
                     color: rgb(56, 100, 202);
                 }
             }
         }
     }

     .content-container {
         overflow-x: hidden;
         height: 100vh;
         width: 100%;
         margin-left: 300px;





         .hero {
             background-image: url(images/tech2.avif);
             display: flex;
             align-items: center;
             height: 100vh;
             background-repeat: no-repeat;
             background-size: cover;



             .hero-text {
                 padding-left: 2em !important;
                 background-color: #a8a9b45e;
                 width: 100%;
                 padding: 10em 0;


                 @media (max-width: 800px) {
                     padding-left: 2em;
                 }


                 h2 {
                     font-size: 3em;
                     margin-bottom: .2em;

                     @media (max-width: 800px) {
                         font-size: 1.5em;
                         padding-bottom: 1em;
                     }

                 }

                 p {
                     font-size: 1.2em;
                     word-spacing: 10px;
                     letter-spacing: 5px;
                     border-bottom: 1px solid rgba(255, 255, 255, 0.501);
                     margin-bottom: 10px;
                     font-weight: bolder;


                     .red {
                         color: rgb(132, 13, 13);
                         font-style: italic;
                         background-color: rgba(0, 0, 0, 0.651);
                         padding: .2em;
                         padding-left: 10px;
                         padding-right: 12px;
                     }

                     .green {
                         color: rgb(3, 70, 8);
                         font-style: italic;
                         background-color: rgba(187, 186, 190, 0.658);
                         padding: .2em;
                     }

                     .blue {
                         color: rgb(7, 7, 101);
                         font-style: italic;
                         background-color: rgba(191, 192, 146, 0.555);
                         padding: .2em;
                         padding-left: 10px;
                         padding-right: 30px;
                     }
                 }
             }
         }

         .main {
             max-width: 98%;
             margin: 1em auto 0;
             padding: 3em .5em 0;



             .heading {
                 position: relative;

                 h2 {
                     font-size: 2.2em;

                 }

                 div {
                     margin-top: 1em;
                     position: absolute;
                     height: 3px;
                     background-color: #149DDD;
                     width: 50px;
                 }
             }

             .intro-text {

                 margin-bottom: 3em;

                 p {
                     margin-top: 2em;
                 }
             }




             section {
                 display: flex;
                 gap: 1em;

                 .img {
                     padding-top: .5em;

                     img {
                         height: 20em;
                     }
                 }

                 .details {
                     h3 {
                         font-size: 1.6em;
                         margin-bottom: 1em;
                     }

                     p {
                         font-style: italic;
                         margin-bottom: 1em;
                     }

                     .list {
                         display: flex;
                         gap: 3em;
                         padding-top: 1em;
                         padding-bottom: 2em;


                         ul {
                             line-height: 3em;
                         }

                         ul li {
                             list-style: none;
                             font-size: 1em;

                             i {
                                 color: rgb(121, 179, 255);
                                 font-weight: 500;
                                 font-size: 1em;
                             }
                         }

                     }

                 }

                 @media (max-width: 800px) {
                     .list {
                         display: flex;
                         flex-direction: column;
                         gap: 0 !important;
                     }

                     ul {
                         line-height: 1em;
                     }
                 }

             }

             @media (max-width: 900px) {
                 section {
                     display: flex;
                     flex-direction: column;
                 }
             }

             @media (min-width: 1500px) {
                 padding-top: 1em;
                 margin-top: 1em;
                 width: 1300px;
                 margin: 0 auto;
                 padding: 3em .5em 0;
             }



             .stats-row {
                 padding: 5em 0;
                 display: flex;
                 flex-flow: row;
                 justify-content: space-between;
                 width: 100%;



                 .icon {
                     display: flex;
                     gap: 1em;


                     i {
                         font-size: 3em;
                         color: #149DDD;
                     }

                     .decr {
                         h1 {
                             color: #000;
                             font-family: arial;
                             font-weight: 700;
                             font-size: 3em;
                         }

                         p {
                             font-weight: bolder;
                             color: #1c1a1a8f;
                         }

                         small {
                             font-weight: lighter;
                             color: gray;
                         }
                     }
                 }
             }

             @media (max-width: 800px) {
                 .stats-row {
                     padding-top: 2em;
                     display: flex;
                     flex-direction: column;
                     gap: 2em;
                 }

                 .icon {
                     width: 100%;
                     border: 2px solid rgba(0, 0, 0, 0.075);
                     padding: .5em;
                 }
             }
         }
     }

     @media (max-width: 1200px) {
         .sidenav {
             display: none;
             width: 0;
             left: -300px;
         }

         .content-container {
             margin-left: 0;
             width: 100%;
         }
     }

 }


 .skills {
     width: 100%;
     margin: 1em auto 0;
     padding: 0 .5em 0em;
     background-color: #f4fafd;

     .main {


         .heading {
             position: relative;

             h2 {
                 font-size: 2.2em;

             }

             div {
                 margin-top: 1em;
                 position: absolute;
                 height: 3px;
                 background-color: #149DDD;
                 width: 50px;
             }
         }



         .myIntro {
             margin-top: 2em;
             padding-bottom: 3em;

             p {
                 font-family: arial;
             }
         }

         .stats {
             padding-bottom: 4em;
             display: flex;
             gap: 1.5em;

             .text-script-style {
                 display: flex;
                 flex-flow: column;
                 gap: 1.5em;
                 width: 100%;

                 .html {
                     span {
                         display: flex;
                         justify-content: space-between;

                         p {
                             font-size: 1em;
                             font-weight: 500;
                         }
                     }

                     .progress-bar {
                         height: 10px;
                         background-color: #149DDD;
                     }
                 }


                 .css {

                     span {
                         display: flex;
                         justify-content: space-between;

                         p {
                             font-size: 1em;
                             font-weight: 500;
                         }
                     }

                     .progress-bar {
                         height: 10px;
                         background-color: #27282933;


                         .progress {
                             background-color: #149DDD;
                             height: 10px;
                             width: 90%;
                         }
                     }
                 }

                 .js {

                     span {
                         display: flex;
                         justify-content: space-between;

                         p {
                             font-size: .9em;
                             font-weight: 500;
                         }
                     }

                     .progress-bar {
                         height: 10px;
                         background-color: #27282933;


                         .progress {
                             background-color: #149DDD;
                             height: 10px;
                             width: 75%;
                         }
                     }
                 }

                 .php {

                     span {
                         display: flex;
                         justify-content: space-between;

                         p {
                             font-size: .9em;
                             font-weight: 500;
                         }
                     }

                     .progress-bar {
                         height: 10px;
                         background-color: #27282933;


                         .progress {
                             background-color: #149DDD;
                             height: 10px;
                             width: 80%;
                         }
                     }
                 }

                 .wordpress {

                     span {
                         display: flex;
                         justify-content: space-between;

                         p {
                             font-size: .9em;
                             font-weight: 500;
                         }
                     }

                     .progress-bar {
                         height: 10px;
                         background-color: #27282933;


                         .progress {
                             background-color: #149DDD;
                             height: 10px;
                             width: 90%;
                         }
                     }
                 }

                 .c-draw {

                     span {
                         display: flex;
                         justify-content: space-between;

                         p {
                             font-size: .9em;
                             font-weight: 500;
                         }
                     }

                     .progress-bar {
                         height: 10px;
                         background-color: #27282933;


                         .progress {
                             background-color: #149DDD;
                             height: 10px;
                             width: 50%;
                         }
                     }
                 }
             }
         }
     }

     @media (max-width: 800px) {
         .stats {
             display: flex;
             flex-direction: column;
         }
     }
 }



 .resume {

     padding-bottom: 5em;

     .main {


         .myIntro {
             margin-top: 3em;
         }

         @media (max-width: 800px) {
             .resume-info {
                 display: flex;
                 flex-direction: column;
             }
         }


         .resume-info {
             display: flex;



             div {
                 width: 100%;
             }

             .summary {
                 padding-top: 1.5em;

                 h2 {
                     padding-left: .2em;
                     font-size: 1.6em;
                 }


                 .summary-container {

                     .summary-info {
                         position: relative;

                         .blue-circle {
                             position: absolute;
                             height: 15px;
                             border: 2px solid #149DDD;
                             width: 15px;
                             padding: .4em;
                             border-radius: 100%;
                             background-color: white;
                         }

                         .blue-line {
                             position: absolute;
                             background-color: #149DDD;
                             width: 2px;
                             height: 200px;
                             top: 15px;
                             left: 7px;
                         }


                         .newblue-line {
                             position: absolute;
                             background-color: #149DDD;
                             width: 2px;
                             height: 420px;
                             top: 15px;
                             left: 7px;
                         }

                         .blue-line2 {
                             position: absolute;
                             background-color: #149DDD;
                             width: 2px;
                             height: 320px;
                             top: 15px;
                             left: 7px;
                         }

                         .myinfo {
                             padding-left: 2em;

                             .myname {
                                 margin: 1em 0;
                             }


                             ul {
                                 padding: 2em 0 1em 1em;
                                 line-height: 1.6em;
                             }

                         }

                     }
                 }
             }
         }
     }
 }




 .Portfolio {
     background-color: #f4fafd;
     padding-bottom: 5em;

     .main {
         .myIntro {
             margin-top: 2em;
         }


         .portfolio-container {
             nav {
                 padding-top: 1.5em;
                 display: flex;
                 gap: 1em;
                 align-items: center;
                 justify-content: center;

                 ul li {
                     list-style: none;

                 }

                 ul li a {
                     text-decoration: none;
                     color: #000;
                     font-size: .9em;
                     font-weight: 450;
                     transition: color 0.3s ease;



                 }

                 ul li a:hover {
                     color: #149DDD;

                 }
             }
         }



         .portfolio-image-container {
             margin-top: 2em;
             display: flex;
             flex-flow: column;
             gap: 1em;


             @media (max-width: 800px) {

                 .image-container {
                     display: flex;
                     flex-flow: column;
                 }
             }


             .image-container {
                 display: flex;
                 gap: 1em;




                 & .image-box:hover {
                     transform: scale(1.04);
                     transition: 0.3s ease;
                 }





                 & .image-box:hover .overlay {
                     opacity: 1;
                 }




                 .image-box {
                     border: 2px solid #149ddd34;
                     border-radius: 30px;
                     position: relative;
                     background-repeat: no-repeat;
                     background-position: center;
                     background-size: 100% 100%;
                     overflow: hidden;
                     height: 332px;
                     width: 456px;
                     overflow: hidden;
                     transition: background-size 0.3s ease;
                     background-color: rgba(0, 0, 0, 0.151);


                     @media (max-width: 800px) {
                         width: 90%;
                         margin: 0 auto;
                     }






                     & .overlay {
                         position: absolute;
                         top: 0;
                         left: 0;
                         width: 100%;
                         height: 100%;
                         transition: transform 0.4s ease, opacity 0.4s ease;
                         opacity: 0;
                         background-color: rgba(0, 0, 0, 0.7);



                         & ul {

                             display: flex;
                             flex-direction: column;
                             gap: 7em;
                             padding-left: .5em;


                             & .text {
                                 background-color: #149DDD;
                                 border-radius: 7px;
                                 color: #fff;
                                 width: 6.5em;
                                 padding: .2em .2em;
                                 margin: .5em 0 0 .5em;
                                 transition: transform 0.4s ease, opacity 0.4s ease;

                             }

                             & .icon {
                                 display: flex;
                                 align-items: center;
                                 justify-content: center;
                                 gap: 1em;
                                 transition: transform 0.4s ease, opacity 0.4s ease;

                                 & i {
                                     font-size: 1.5em;
                                     color: white;
                                 }

                                 & i:hover {
                                     color: #149DDD;
                                 }

                             }

                             & .memo {
                                 color: White;
                                 font-weight: bold;
                                 padding-left: .2em;
                                 transition: transform 0.4s ease, opacity 0.4s ease;
                             }



                         }

                         & ul li {
                             list-style: none;

                         }




                     }
                 }

             }

         }
     }

 }


 .services {
     & .main {


         & .myIntro {
             margin-top: 2em;
         }


         & ._services {

             & .list {

                 @media (max-width: 800px) {
                     ul {
                         display: flex;
                         flex-direction: column;
                     }
                 }

                 & ul {
                     display: flex;



                     & li {
                         list-style: none;



                         & a {
                             text-decoration: none;


                             &:hover .stats-row .icon i {
                                 background-color: white;
                                 color: #149DDD;
                                 border: 1px solid #149DDD;
                                 transition: 0.4s ease-in-out;
                             }

                             & .stats-row {
                                 padding: 1.5em;


                                 & .icon {
                                     i {
                                         color: white;
                                         background-color: #149DDD;
                                         height: fit-content;
                                         border-radius: 100%;
                                         padding: 9px;
                                         font-size: 1.7em;
                                         font-weight: lighter;
                                     }



                                     & .decr {
                                         & h2 {
                                             color: rgba(0, 0, 0, 0.76);
                                             font-size: 1.4em;
                                         }

                                         & p {
                                             font-size: .9em;
                                             color: #000;
                                             margin-top: 1em;
                                             font-weight: lighter;
                                         }
                                     }
                                 }
                             }
                         }
                     }
                 }
             }
         }
     }
 }

 .Testimonials {
     padding-bottom: 4em;
     background-color: #f4fafd;

     & .main {
         & .myIntro {
             margin-top: 2em;
         }

         @media (max-width: 800px) {
             .testimonies {
                 display: flex;
                 flex-direction: column;
             }
         }

         & .testimonies {
             padding: 0 1em;
             max-width: 1350px;
             margin: 0 auto;
             display: flex;
             gap: 2em;
             padding-top: 2em;

             & div {
                 position: relative;

             }

             @media (max-width: 800px) {
                 .none {
                     display: none;
                 }
             }

             .flip {
                 position: absolute;
                 bottom: 165px;
                 /* Position from bottom instead of top */
                 left: 50%;
                 transform: translateX(-50%) rotate(47deg);
                 /* Center horizontally and rotate */
                 height: 5em;
                 width: 5em;
                 background-color: #fff;
                 z-index: 1;
                 box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
             }

             & figure {
                 margin-top: 3em;
                 display: flex;
                 flex-flow: column;
                 align-items: center;
                 justify-content: center;

                 img {
                     height: 6em;
                     border-radius: 50%;
                     width: 6em;
                 }

                 & figcaption {
                     text-align: center;

                     p {
                         font-weight: bolder;
                     }

                     small {
                         color: gray;
                         font-size: .8em;
                         font-weight: bold;
                     }
                 }
             }

             & .testimony-container {
                 z-index: 2;
                 position: relative;
                 background-color: #fff;
                 width: 100%;
                 padding: 1.5em;
                 box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

                 & .text {
                     opacity: 0.8;
                     font-weight: 500;
                     line-height: 1.5em;
                     text-align: center;

                     & p {
                         font-style: italic;
                         z-index: 3;

                         i {
                             color: #149DDD;
                             font-size: 1.5em;
                         }
                     }
                 }
             }
         }
     }
 }

 .contact {
     @media (max-width: 800px) {
         .contact-container {
             display: flex;
             flex-direction: column;
         }
     }


     padding-bottom: 2em;

     & .main {

         @media (max-width: 800px) {
             padding-left: 2em !important;
         }

         & .myIntro {
             margin-top: 2em;
         }

         & .contact-container {
             display: flex;
             gap: 1.5em;

             @media (max-width: 800px) {
                 .message-container {
                     width: 90% !important;
                 }
             }




             & .message-container {
                 width: 60%;
                 box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                 padding-top: 2em;
                 padding-left: 1em;
                 padding-right: 1em;
                 margin-top: 2em;


                 & form {

                     & div {
                         display: flex;
                         width: 100%;

                         @media (max-width: 800px) {
                             display: flex;
                             flex-direction: column;

                             .name {
                                 margin-bottom: 1em;
                             }
                         }

                         & .name {
                             display: flex;
                             flex-direction: column;
                             margin-right: 2em;


                             & label {
                                 color: #000;
                                 padding-bottom: .5em;

                             }

                             & input {
                                 width: 100%;
                                 padding: .5em;
                                 font-size: 1.2em;
                                 border: 1px solid rgba(128, 128, 128, 0.267);


                             }

                             & input:focus {
                                 border: 1px solid #149DDD;
                                 outline: none;
                             }

                         }


                         & .email {
                             display: flex;
                             flex-direction: column;


                             & label {
                                 color: #000;
                                 padding-bottom: .5em;
                             }

                             & input {
                                 width: 100%;
                                 padding: .5em;
                                 font-size: 1.2em;
                                 border: 1px solid rgba(128, 128, 128, 0.267);


                             }

                             & input:focus {
                                 border: 1px solid #149DDD;
                                 outline: none;
                             }
                         }
                     }


                     & .subject {
                         display: flex;
                         flex-direction: column;

                         & label {
                             margin-top: 1.5em;
                             margin-bottom: .5em;
                         }

                         & input {
                             width: 100%;
                             padding: .5em;
                             font-size: 1.2em;
                             border: 1px solid rgba(128, 128, 128, 0.267);

                         }

                         & input:focus {
                             border: 1px solid #149DDD;
                             outline: none;
                         }
                     }

                     & .message {
                         display: flex;
                         flex-flow: column;


                         & label {
                             padding-bottom: .5em;
                             margin-top: 1em;
                         }

                         & textarea {
                             height: 232px;
                             width: 100%;
                             padding: .5em;
                             font-size: 1.2em;
                             border: 1px solid rgba(128, 128, 128, 0.267);
                         }

                         & textarea:focus {
                             border: 1px solid #149DDD;
                             outline: none;
                         }

                     }

                     & button {
                         display: block;
                         margin: 1em auto;
                         width: 200px;
                         height: em;
                         border-radius: 20px;
                         color: rgba(255, 255, 255, 0.9);
                         /* white text with 60% opacity */
                         background-color: #149DDD;
                         font-size: 1.1em;
                         padding: .5em;
                         border: none;
                         font-weight: bold;
                         cursor: pointer;

                     }

                     & button:hover {
                         border: 1px solid #149DDD;
                         background-color: transparent;
                         color: #149DDD;
                         transition: 0.4s ease-in-out;
                     }



                 }
             }

             @media (max-width: 800px) {
                 .adddres {
                     width: 90% !important;


                 }
             }






             & .adddres {
                 width: 40%;
                 box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                 padding-top: 2em;
                 padding-left: 1em;
                 padding-right: 1em;
                 margin-top: 2em;


                 & ul {

                     display: flex;
                     flex-flow: column;
                     gap: 3em;

                 }

                 & ul li:hover .i i {
                     background-color: #149DDD;
                     color: white;
                 }

                 & ul li {
                     list-style: none;
                     display: flex;
                     gap: .5em;
                     align-items: center;


                     & .i i {
                         color: #149DDD;
                         background-color: #edf7fc;
                         padding: 1em;
                         border-radius: 50px;
                     }

                     .text {
                         h3 {
                             font-size: 1.2em;
                             padding-bottom: .4em;
                         }
                     }
                 }

                 & iframe {
                     margin-top: 2em;
                     width: 100%;
                     height: 250px;
                     border-radius: 5px;
                     padding-bottom: 1em;

                 }
             }

         }

     }
 }


 footer {
     text-align: center;
     font-size: 1.2em;
     padding-bottom: 1em;
 }